diffusers>=0.31.0
transformers>=4.46.3
einops>=0.8.0
opencv-python
tqdm>=4.67.0
pillow>=10.2.0
onnxruntime-gpu>=1.18.1
onnx>=1.17.0
safetensors>=0.4.5
accelerate>=1.1.1
peft>=0.13.2
modelscope
huggingface-hub